html {
    font-size: 16px;
}

body {
    background-color: #ecc5eb;
}

/* HEADER */
.header-container {
    font-family: "Gajraj One", sans-serif;
    width: 100%;
    height: 95px;
    background-color: #a74578;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.header-container h1 {
    margin-left: 20px;
}

.navbar {
    width: 50%;
    height: 100%;
    padding-top: 5px;
    margin-right: 20px;
}

.navbar ul {
    display: flex;
    height: 100%;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.navbar a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 15px;
    display: inline-block;
    color: black;
    transition: background-color 0.2s ease;
}

.navbar a:hover {
    background-color: #FFF0F6;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 768px) {
    .header-container {
        overflow: hidden;
        justify-content: space-evenly;
    }

    .header-container h1 {
        margin-left: 0;
        font-size: 1.75rem;
    }

    .navbar ul {
        justify-content: space-between;
    }

    .navbar li {
        font-size: 1.3rem;
    }

    .navbar a {
        padding: 5px 25px;
    }

}

@media screen and (max-width: 480px) {
    .header-container h1 {
        display: none;
    }

    .header-container {
        display: block;
    }

    .navbar {
        width: 100%;
    }


}

/* HERO SECTION */
.hero-section {
    background-image: url("../images/retro-hero-section.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.mission-container {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    background-color: #121212;
    color: #eeeeee;
    width: 100%;
    padding: 10px 0;
}

.mission-container h2 {
    padding: 5px 0;
    margin: 10px 0;
}

.mission-container p {
    width: 95%;
    margin: 5px auto;
    padding: 5px 0;
}

.mission-container span {
    color: #C92279;
    font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
    .mission-container h2 {
        font-size: 1.4rem;
    }

    .mission-container span {
        font-size: 1.57rem;
    }

    .mission-container p {
        font-size: .8rem;
    }
}

@media screen and (max-width: 480px) {
    .mission-container h2{
        font-size: 1.2rem;
    }

    .mission-container span {
        font-size: 1.5rem;
    }

    .mission-container p {
        display: none;
    }
}


/* REALMS */
.realm-container {
    width: 90%;
    margin: 0 auto;
    font-family: "Press Start 2P", sans-serif;
}

.realm-container h2 {
    margin: 50px 0 5px 0;
}

.heading-paragraph {
    margin: 30px auto;
    width:80%
}

.realm-container h2, .realm-container > p {
    text-align: center;
}

.images-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.image-container {
    width: 500px;
    height: auto;
    background: linear-gradient(to bottom right, #121212, #8A2E5C);
    border-radius: 17px;
    margin: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.9);
}

.image-container img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.image-container h3 {
    padding: 10px;
    margin: 15px;
    text-align: center;
}

.image-container p {
    width: 95%;
    text-align: center;
    margin: 0 auto 50px auto;
}

@media screen and (max-width: 768px) {
    .realm-container h2 {
        font-size: 1.4rem;
    }

    .realm-container .heading-paragraph {
        font-size: 1rem;
    }

    .image-container h3 {
        font-size: 1.2rem;
    }

    .image-container p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .realm-container h2 {
        font-size: 1.3rem;
    }

    .realm-container > p {
        font-size: .8rem;
    }

    .image-container h3 {
        font-size: 1rem;
    }

    .image-container p {
        font-size: .8rem;
    }
}


/* GUILD SECTION */

.guild-section {
    font-family: "Press Start 2P", sans-serif;
    margin-top: 50px;
}

.guild-section > h2 {
    text-align: center;
    margin-bottom: 25px;
}

.guild-background {
    /* background-color: #a1356d; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.guild-person {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
    margin: 20px auto;
}

.guild-person img {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.9);
    width: 300px;
    height: auto;
    display: block;
}

.text-container {
    width: 50%;
    margin: 0 25px;
}

.text-container h3 {
    margin-bottom: 30px;
}

.text-container .status {
    margin-bottom: 30px;
    font-style: italic;
}

.text-container span {
    color: #C92279;
}

@media screen and (max-width: 768px) {
    .guild-section h2 {
        font-size: 1.4rem;
    }
    .text-container {
        font-size: .9rem;
    }
}

@media screen and (max-width: 480px) {
    .guild-section h2 {
        font-size: 1.3rem;
    }

    .guild-person {
        flex-direction: column;
        height: auto;
        align-items: center;
        margin: 10px auto;
    }

    .text-container p:last-of-type, .text-container .status {
        display: none;
    }

    .text-container {
        width: 90%;
        text-align: center;
        margin: 10px 0 0 0;
    }

    .text-container h3, .text-container span {
        font-size: 1rem;
    }
}

/* FOOTER */

footer {
    width: 100%;
    background-color: #4A323E;
    font-family: "Press Start 2P", sans-serif;
    margin-top: 50px;
    color: darkgrey;
}

.footer-text {
    text-align: center;
}

.footer-text h3 {
    margin: 20px;
    padding-top: 15px;
}

.footer-text p {
    padding: 10px;
}

.footer-text p:last-of-type {
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .footer-text {
        font-size: .7rem;
    }
}

@media screen and (max-width: 480px) {
    .footer-text {
        font-size: .6rem;
    }
}
